* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: green; */
    background-image: url(Images/ColorImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    top: 100px;
    position: relative;
}

.box {
    /* background-color: blueviolet; */
    border: 1px solid black;
    border-radius: 30px;
    backdrop-filter: blur(15px);
    box-shadow: 3px 3px 10px black;
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.color {
    border: 1px solid black;
    border-radius: 20px;
    height: 250px;
    width: 600px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: green; */
    font-size: 30px;
    background: url(Images/headingImage.jpg);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    box-shadow: 1px 1px 10px black;

}

h1 {
    /* color: white; */
    background: url(Images/headingImage.jpg);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 70px;
    font-style: italic;
}

button {
    border: 3px solid green;
    background-color: transparent;
    color: green;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: green;
    color: white;
}

@media (max-width: 786px) {
    body {
        top: 10px;
        bottom: 10px;
        background-image: url(Images/ColorImageQuery.jpg);
        height: 100vh;

    }

    .box {
        height: 87vh;
        width: 90%;
        /* gap: 30px; */
    }

    .color {
        height: 225px;
        width: 300px;
        font-size: 30px;
        text-align: center;
        color: white;
        font-weight: 200;

    }

    h1 {
        background: url(Images/ColorImage.jpg);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 40px;
        text-align: center;
        font-style: italic;
    }

    button {
        border-radius: 15px;
        border: 2px solid white;
        color: white;
    }

    button:hover {
        border: 2px solid green;
        background-color: green;
        color: white;
    }
}